body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  font-family: 'Nunito', sans-serif;
  color: #333;
  display: grid;
  grid-template-columns: .2fr 2fr .2fr;
  grid-template-rows: 90px 700px 1fr 1fr 1fr;
  grid-template-areas: 
  "header header header"
  "banner banner banner"
  ". breed-container ."
  ". container ."
  "footer footer footer"
  ;
}

header {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: header;
  padding: 0 10px;
}

header h1 {
  font-size: 1.2em;
  font-weight: normal;
}

#heart-logo {
  width: 32px;
  height: 32px;
  margin-left: 5px;  
}

.banner {
  background-color: rgba(211, 80, 115, 0.3);
  grid-area: banner;
}

#checkMetamask, #myAddress{
  display: inline-block;
  border-radius: 20px;
  background-color: hsla(0,0%,100%,.4);
  padding: 5px 8px;
  margin-top: 20px;
  margin-bottom: 12px;
  margin-left: 10px;
}

#myAddress {
  margin: 0px;
  margin-left: 10px;  
}

.kitties-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.kitty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kitty-container img {
  margin: 0px 30px 0px 30px;
  width: 240px;
  height: auto;
}

.kitty-container input {
  border: none;
  height: 30px;
  width: 185px;
  padding: 0 0 0 12px;
  outline-color: lightblue; 
  box-shadow: 2px 2px 2px lightslategray; 
}

.breed-container {
  grid-area: breed-container;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


#_checkbreed, #_breed {
  width: 250px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  margin: 6px;
  color: white;
  font-size: 16px;  
  transition: 200ms;
  outline: none;
  padding: 6px 8px;
  box-shadow: 2px 2px 2px lightslategray; 
}

#_checkbreed:hover, #_breed:hover {
  transform: scale(1.05);
}

#_checkbreed {
  background: lightcoral;
}

#_breed { 
  background: lightskyblue;
}

.container {
  border: 2px solid #e7e6e4;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 10px 20px 30px 20px;
  grid-area: container;
}

#balance h3 {
  font-weight: normal;
}

#approve h3 {
  font-weight: normal;
}

#_approveAccount, #_approveID {
  border: none;
  height: 30px;
  width: 185px;
  padding: 0 0 0 12px;
  outline-color: lightblue; 
  border: 2px solid #e7e6e4;
  padding: 0px 5px;
}

#_approve {
  border: none;
  height: 33px;
  border: 2px solid #e7e6e4;
  font-size: 14px; 
  cursor: pointer;
  transition: all .2s cubic-bezier(.06,.67,.37,.99);
  outline: none; 
}

#_approve:hover {
  border-bottom: 3px solid lightgray;
}

.tip-button {
  width: 304px;
  height: 89px;
  background-size: 100%;
  background-image: url('images/1_pay_mm_off.png');
  cursor: pointer;
}

.tip-button:hover {
  background-image: url('images/1_pay_mm_over.png');
}

.tip-button:active {
  background-image: url('images/1_pay_mm_off.png');
}

footer {
  display: flex;
  justify-content: center;
  grid-area: footer;
}

@media screen and (min-width: 736px) {
  body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 90px 400px 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "banner banner banner"
    ". breed-container ."
    ". container ."
    "footer footer footer"
    ;
  }
}
